In [1]:
import pandas as pd
import numpy as np

# readin first dataset

In [2]:
df=pd.read_csv("datadata.csv")

In [3]:
df.shape

(13851, 3)

In [4]:
df.head(5)

,source,label,text
0,coronavirusmedicalkit.com,fake,"You just need to add water, and the drugs and ..."
1,RudyGiuliani,fake,Hydroxychloroquine has been shown to have a 10...
2,CharlieKirk,fake,Fact: Hydroxychloroquine has been shown to hav...
3,JoanneWrightForCongress,fake,The Corona virus is a man made virus created i...
4,JoanneWrightForCongress,fake,Doesnâ€™t @BillGates finance research at the W...

In [5]:
df['label'].value_counts()

0       10650
1        2636
fake      565
Name: label, dtype: int64

# making label fake to 0

In [6]:
df = df.replace({'label': {'fake':"0"}})

In [8]:
df['label'].value_counts()

0    11215
1     2636
Name: label, dtype: int64

# reading second dataset

In [53]:
df1=pd.read_csv("dataset covid.csv")

In [29]:
df1.head(3)

   id                                              tweet label
0   1  Our daily update is published. States reported...  real
1   2             Alfalfa is the only cure for COVID-19.  fake
2   3  President Trump Asked What He Would Do If He W...  fake

In [30]:
df1["label"].value_counts()

real    1120
fake    1020
Name: label, dtype: int64

In [54]:
df1["label"].value_counts()

real    1120
fake    1020
Name: label, dtype: int64

# dropping fake news

In [55]:
df1.drop(df1[df1['label'] == "fake"].index, inplace=True)

# current count of the dataset

In [56]:
df1["label"].value_counts()

real    1120
Name: label, dtype: int64

In [64]:
## irrelevant code

In [41]:
df3["label"].value_counts()

Series([], Name: label, dtype: int64)

In [39]:
df3.head(3)

Empty DataFrame
Columns: [source, label, text, id, tweet]
Index: []

# Merging Two datsets

In [58]:
frames = [df, df1]

result = pd.concat(frames)

In [59]:
result.head(3)

,source,label,text,id,tweet
0,coronavirusmedicalkit.com,0,"You just need to add water, and the drugs and ...",NaN,NaN
1,RudyGiuliani,0,Hydroxychloroquine has been shown to have a 10...,NaN,NaN
2,CharlieKirk,0,Fact: Hydroxychloroquine has been shown to hav...,NaN,NaN

In [60]:
result["label"].value_counts()

0       11215
1        2636
real     1120
Name: label, dtype: int64

 result = result.replace({'label': {'real':"1"}})

# incremented  the count of news labeled =1

In [62]:
result["label"].value_counts()

0    11215
1     3756
Name: label, dtype: int64

# old dataset

In [63]:
df["label"].value_counts()

0    11215
1     2636
Name: label, dtype: int64